<div class="form">
  <input
    id="{{ label }}"
    class="form__input"
    [ngClass]="{ error: canShowError, disabled: readonly }"
    [placeholder]="label"
    [readonly]="readonly"
    [formControl]="control"
    [type]="type"
    [required]="required"
    autocomplete="off"
    (input)="onType($any($event))"
    (paste)="onPaste($event)"
  />
  <label for="{{ label }}" class="form__label">{{ label }}</label>
  <button
    type="button"
    *ngIf="label === 'Password' || label === 'Confirm Password'"
    (click)="toggleType()"
  >
    <img src="/assets/images/input/eye.svg" alt="eye" />
    <span [ngClass]="{ visible: type === 'text' }"></span>
  </button>
</div>
<div class="span-err">
  <span *ngIf="canShowError && !readonly">{{ getErrorsMessage() }}</span>
</div>
